fieldset {
  all: unset;
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 5.375rem);
  gap: 12px;
  margin-bottom: 1.25rem;
  div {
    transition: all 0.5s ease;
    &:hover {
      label {
        color: var(--content-brand);
      }
      input {
        &:hover,
        &:focus {
          border: 2px solid transparent;
          background-image: linear-gradient(
              var(--background-tertiary),
              var(--background-tertiary)
            ),
            linear-gradient(45deg, var(--gradient-border));
          background-origin: border-box;
          background-clip: padding-box, border-box;
        }
      }
    }
    label {
      font-size: var(--label-small);
      font-family: var(--ff-sora);
      font-weight: 700;
      text-transform: uppercase;
      color: var(--content-secondary);
      display: flex;
      justify-content: center;
    }
    input {
      margin-top: 0.5rem;
      border: none;
      outline: none;
      width: 100%;
      height: 3rem;
      padding: 0.25rem 0.5rem;
      background-color: transparent;
      color: var(--content-primary);
      font-size: var(--display-small);
      font-family: var(--ff-sora);
      font-weight: 800;
      line-height: 1.5;
      position: relative;
      border-radius: 0.5rem;
      border: 2px solid transparent;
    }
  }
}

#switch {
  margin-bottom: 2.5rem;
  font-family: var(--ff-roboto-flex);
  font-size: var(--paragraph-medium);
  line-height: 1.5;
  display: flex;
  gap: 8px;
  .toggle {
    width: 30px;
    height: 20px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, var(--gradient-background));
    padding: 3px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background-color: var(--content-primary);
      height: 14px;
      width: 14px;
      border-radius: 7px;
    }
  }
}
